<!--
  arbe_phoenix_radar_driver Launch 
-->
<launch>
    ####  for GDB launch-prefix="gdb -ex run --args" ####
    <node name="talker_node" pkg="tt" type="talker_node" output="screen" required="true" > #launch-prefix="gdb -ex run --args">
	    ##<param name="socket_file_descriptor" value="0" />
    </node>

    <node name="listener_node" pkg="tt" type="listener_node" output="screen" required="true" > #launch-prefix="gdb -ex run --args">
	    ##<param name="socket_file_descriptor" value="0" />
    </node>    
</launch>

